<div class="alert alert-prymary alert-light">
  <h1 class="display-3">Acerca de...!</h1>
  <p class="lead">Este sitio ha sido desarrollado por el Licenciado Daniel Gonzalez de la Maestria en Sistemas Computacionales del Instituto Tecnologico de Zacatecas.</p>
  <hr class="my-4">
    <div class="footer-copyright text-center navbar-light">
        (c) 2020 Copyright CDGH
    </div>
  </p>
</div>